Are you hungry? 
Because we've just received a delivery from <%= @supplier %>
with something to delight for you.

Make sure that you have payed to <%= @orderer %> and enjoy your meal.

Your Foodr