<h1>New order position</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= hidden_field 'order_position', 'order_id', :value => @order  %>
  <%= submit_tag "Create" %>
<% end %>

<hr/>

<%= link_to 'Back', :action => 'show', :controller => 'orders', :id => @order %>
