Are you hungry? 
Because we've just received a delivery from <%= @supplier %>
with your tasty <%= @material %>.

Make sure that you have payed to <%= @orderer %> and enjoy your meal.

Your Foodr