<%= error_messages_for 'material' %>

<!--[form:material]-->
<p><label for="material_name">Name</label><br/>
<%= text_field 'material', 'name'  %></p>

<p><label for="material_price">Price</label><br/>
<%= text_field 'material', 'price'  %></p>
<!--[eoform:material]-->

