<h1>New material</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= hidden_field 'material', 'supplier_id', :value => @supplier  %>    
  <%= submit_tag "Create" %>
<% end %>

<hr/>

<%= link_to 'Back', :action => 'show', :controller => 'suppliers', :id => @supplier %>
