<h1>Editing material</h1>

<% form_tag :action => 'update', :id => @material do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @material %> |
<%= link_to 'Back', :action => 'show', :controller => 'suppliers', :id => @supplier %>
